<!DOCTYPE html>
<html>
<% include ./../../partials/head %>

    <body>
        <% include ./../../navigation %>
            <div class="album py-5">
                <div class="container">
                    <div class="row px-0">
                        <!-- <div class="col-md-12"> -->
                        <div class="col-md-3 px-0">
                            <img class="card-img-top" src="<%=book.image_path%>" alt="Card image cap">
                        </div>
                        <div class="col-md-9">
                            <div class="pl-4 pt-2" style="width: 100%; background: #fff; border-radius: 5px;">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3><%=book.title%></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p><%=book.desc%>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>$<%=book.price%></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                            Edition: <em><span><%=book.edition%></span></em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                            ISBN: <em><span><%=book.isbn%></span></em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        Author: <em><span><%=book.author%></span></em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        Publisher: <em><span><%=book.publisher%></span></em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        Author: <em><span><%=book.author%></span></em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        Category: <em><span><%=book.category%></span></em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="py-2 col-md-10">
                                        <form onsubmit="addToCart(event, '<%=book.id%>')">
                                            <input type="submit" class="btn btn-warning" value="Add to Cart">
                                        </form>
                                    </div>
                                    <div class="py-2 col-md-10">
                                        <a href="/" class="btn btn-success">Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./../../partials/script_includes %>
    </body>

</html>